/* TDS radius tokens */
:root{
  --tds-radius-none: 0;
  --tds-radius-xs: 0.125rem;
  --tds-radius-sm: 0.25rem;
  --tds-radius-md: 0.5rem;
  --tds-radius-lg: 0.75rem;
  --tds-radius-xl: 1rem;
  --tds-radius-full: 9999px;
}
